#monitor {
  margin: auto;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 75%;
}

#container {
  height: 75%;
  position: relative;
}

#monitor .ViewportOverlay {
  display: none;
}

#container .ViewportOverlay {
  display: none;
}

#monitor .screen {
  margin: auto;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
}

#monitor .scan {
  width: 100%;
  height: 30%;
  position: absolute;
  z-index: 9999;
  -moz-animation: scan 5s infinite;
  -webkit-animation: scan 5s infinite;
  animation: scan 3s infinite;
  animation-direction: alternate-reverse;
  box-shadow: 0px 0px 30px rgba(255, 204, 102, 0.8);
  background-color: rgba(255, 255, 255, 0.5);
}


.button {
  top:0;
  right:0;
  position:absolute !important;
  z-index: 999;
}

@keyframes scan {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(210px);
    transform: translateY(600px);
  }
}

@keyframes active {
  0% {
    fill: #bee1f4;
  }
  50% {
    fill: #1769aa;
  }
  100% {
    fill: #90caf9;
  }
}

.css-m8a1uf-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  animation-name: active;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
