#container {
  position: absolute;
  left: 30%;
}

#container img {
  animation: fadeIn 1.5s;
  height: 100%;
}

.button {
  top: 0;
  right: 0;
  position: absolute !important;
  z-index: 999;
}

@keyframes scan {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(210px);
    transform: translateY(600px);
  }
}

@keyframes active {
  0% {
    fill: #bee1f4;
  }
  50% {
    fill: #1769aa;
  }
  100% {
    fill: #90caf9;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.css-m8a1uf-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  animation-name: active;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
