body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121 !important;
}

.css-1y6qvsp,
.css-1k0i2s9-MuiPaper-root-MuiAppBar-root {
  background-color: #212121 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  border: 2px solid #1565c0;
}

@keyframes curtain-down {
  0% {
    height: 0%;
  }

  100% {
    height: 900px;
  }
}

@keyframes curtain-up {
  0% {
    height: 0px;
    transform: translateY(900px);
  }
  100% {
    transform: translateY(0);
  }
}

#container {
  position: absolute;
  left: 30%;
}

.screen {
  animation: fadeIn 1.5s;
}

.img-animate {
  animation: fadeIn 2s;
}

.img-animateheat,
.img-animateoutput {
  animation: fadeIn 0.5s;
}

.button {
  top: 0;
  right: 0;
  position: absolute !important;
  z-index: 9999999999;
}

@keyframes scan {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(720px);
    transform: translateY(760px);
  }
}

@keyframes active {
  0% {
    fill: #bee1f4;
  }
  50% {
    fill: #1769aa;
  }
  100% {
    fill: #90caf9;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.css-m8a1uf-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  animation-name: active;
  animation-duration: 1.7s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 0.7s;
  animation-fill-mode: both;
}

.screen-fade-out,
.img-fadeOut {
  animation: fadeOut 30s;
}

.screen,
.screen-fade-out,
.curtain-down,
.curtain-up {
  width: 100%;
  height: 900px;
  background-size: cover;
  background-color: black;
}

.curtain-up {
  position: absolute;
  height: 900px;
  animation: curtain-up 30s;
  z-index: 999999;
}

.curtain-down {
  animation: curtain-down 30s infinite;
}

.scan {
  height: 10%;
  width: 100%;
  position: absolute;
  z-index: 9999;
  -moz-animation: scan 5s infinite;
  -webkit-animation: scan 5s infinite;
  animation: scan 3s infinite;
  animation-direction: alternate-reverse;
  box-shadow: 0px 0px 30px rgba(255, 204, 102, 0.8);
  background-color: rgba(255, 255, 255, 0.5);
}
