body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121 !important;
}

.ViewportOverlay {
  display: none;
}

.css-1y6qvsp,
.css-1k0i2s9-MuiPaper-root-MuiAppBar-root {
  background-color: #212121 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  border: 2px solid #1565c0;
}

#container {
  position: absolute;
  left: 30%;
}

.css-16r1tk9 > span {
  height: 70px !important;
  width: 70px !important;
}

.css-3603q-MuiTypography-root-MuiLink-root {
  cursor: pointer;
}

.Mui-active > svg {
  animation-name: active;
  animation-duration: 1.7s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 0.7s;
  animation-fill-mode: both;
  cursor: pointer;
}

.screen {
  width: 100%;
  height: 900px;
  background-size: cover;
  background-color: black;
}

.image-push,
.image-load {
  height: 5px;
  animation-direction: normal;
}

.image-push {
  -moz-animation: pacspush 20s 1;
  -webkit-animation: pacspush 20s 1;
  animation: pacspush 20s 1;
  box-shadow: 0px 0px 30px #ffc107;
}

.image-load {
  -moz-animation: pacsretrieve 20s 1;
  -webkit-animation: pacsretrieve 20s 1;
  animation: pacsretrieve 20s 1;
  box-shadow: 0px 0px 30px #ffc107;
}

.scan-ai-shadow {
  box-shadow: 0px 0px 30px #ff7961;
}

.scan-ai-label svg {
  filter: drop-shadow(0px 0px 6px #ff7961);
}

.scan-measure-shadow {
  box-shadow: 0px 0px 30px #bbdefb;
}

.scan-measure-label svg {
  filter: drop-shadow(0px 0px 6px #bbdefb);
}

.scan {
  height: 10%;
  -moz-animation: scan 5s infinite;
  -webkit-animation: scan 5s infinite;
  animation: scan 3s infinite;
  animation-direction: alternate-reverse;
}

.image-push-label svg {
  filter: drop-shadow(0px 0px 6px #ffc107);
}

.image-load-label svg {
  filter: drop-shadow(0px 0px 6px #ffc107);
}

.scan,
.image-load,
.image-push {
  width: 100%;
  position: absolute;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.5);
}

.button {
  top: 0;
  right: 0;
  position: absolute !important;
  z-index: 9999999999;
}

@keyframes scan {
  0% {
    -webkit-transform: translateY(760px);
    transform: translateY(760px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes pacsretrieve {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(820px);
    transform: translateY(820px);
  }
}

@keyframes pacspush {
  0% {
    -webkit-transform: translateY(820px);
    transform: translateY(820px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes active {
  0% {
    fill: #bee1f4;
  }
  50% {
    fill: #1769aa;
  }
  100% {
    fill: #90caf9;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
